@page "/editinvoiceitem/{Id}"
@using MedHub.UI.Pages.Models;
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
<h2>Edit InvoiceItem</h2>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Quantity"> Quantity *</label>
            <input form="Quantity" class="form-control" @bind="@invoiceitem.Quantity" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="UnitPrice"> Unit Price *</label>
            <input form="UnitPrice" class="form-control" @bind="@invoiceitem.UnitPrice" />
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@Save" value="Save" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string Id { get; set; }
    InvoiceItemViewModel invoiceitem = new InvoiceItemViewModel();
    protected override async Task OnInitializedAsync()
    {
        invoiceitem = await Http.GetFromJsonAsync<InvoiceItemViewModel>("https://localhost:7260/api/v1/InvoiceItems/" + Id);
    }
    protected async Task Save()
    {
        var response = await Http.PatchAsJsonAsync("https://localhost:7260/api/v1/InvoiceItems/" + Id, @invoiceitem);

        if (response.IsSuccessStatusCode)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Updated Successfully!");
            NavigationManager.NavigateTo("invoiceitemlist");
        }
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("invoiceitemlist");
    }
}